.dropDownWrapper {
  position: relative;
  width: 200px;
}

#button {
  height: 100%;
  width: 100%;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid black;
  -webkit-transform: skewX(-10deg);
  -moz-transform: skewX(-10deg);
  -ms-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-font-smoothing: antialiased;
}

.dropDown {
  background: #fff;
  width: 200px;
  position: absolute;
  font-family: "Open Sans";
  font-size: 22px;
  display: flex;
  align-items: center;
}
