@import "globals.css";

.pageBase {
  background-color: lightblue;
  height: 2000px;
}

.pageContent {
  padding-top: var(--bannerHeight);
}

.imageContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("../images/FamilyIntrodutionImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 70px;
  color: aliceblue;
  box-sizing: border-box;
  padding: 5%;
  justify-content: space-between;
}

#introductionPlate {
  padding: 3%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-self: flex-start;

  border: 1px solid black;
  background-color: rgba(22, 21, 21, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

#downArrow {
  display: flex;
  position: absolute;
  left: 45%;
  bottom: 0%;
  width: 200px;
  height: 200px;
}

#confusedButton {
  align-self: flex-end;
  padding: 15px;
  border: 1px solid black;
  font-size: 20px;
  background-color: rgba(29, 59, 34, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s; /* Smooth transition */
}
#confusedButton:hover {
  background-color: rgba(
    0,
    100,
    0,
    0.5
  ); /* Change to a darker green shade on hover */
}

#emergencyButton {
  align-self: flex-end;
  padding: 15px;
  border: 1px solid black;
  font-size: 20px;
  background-color: rgba(59, 33, 29, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  margin: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
}

#emergencyButton:hover {
  background-color: rgba(100, 0, 0, 0.5);
}

.localResources {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

#filtersContainer {
  width: 20%;
}
