@import "globals.css";

.pageBase {
  height: 2000px;
  background-image: url("../images/braidBgtrial-8.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.pageBaseBefore {
  width: 100vw;
  height: 2000px;
  background-image: url("../images/homeDecor-8.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pageContent {
  /*padding-top: var(--bannerHeight);*/
}

.imageContainer {
  display: flex;
  width: 100%;
  height: 100vh;

  font-size: 70px;
  color: aliceblue;
  box-sizing: border-box;
  padding: 5%;
  justify-content: space-between;
}

#introductionPlate {
  display: flex;
  position: relative;
  left: 30%;
  top: 30%;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

#confusedButton {
  padding: 15px;
  border: 1px solid black;
  font-size: 40%;
  background-color: rgba(12, 8, 89);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  margin: 2%;
  width: 20%;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
}
#confusedButton:hover {
  cursor: pointer;
  background-color: rgba(43, 39, 126);
  transform: translateY(-5px);
  box-shadow: 0 9px 6px rgba(0, 0, 0, 0.7);
}

.localResources {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  padding-right: 10%;
}

#filtersContainer {
  width: 20%;
}

.selectablePlacesContainer {
  margin: 3%;
  padding: 3%;
  border: 2px solid white;
}
